.line {
    height: 6px;
    background-color: #000;
    width: 90px;
    margin: 8px auto;
}

body {
    text-align: center;
    background-color: deeppink;
    color: black;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(yellow 0%, orange 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 25px;
}
input{
    background-color: gainsboro;
}
iframe{
    width:100%;
    padding: 50px;
    margin-left: auto;
    margin-right: 60px;
}
#videos{
    background-color: aquamarine;
    padding:20px;
}
.my_nav_bar{
    position: sticky;
    z-index: 9999;
    top:0px;
}
span:hover{
    color: deeppink;
}
span{
    color: black;
}
#activities{
  background: linear-gradient( red 0%,yellow 100%); 
}
#contact{
  background-color: darksalmon; 
}
p{
    font-size: 20px;
}
#favouriteplaces{
    background-color: bisque;
}
#schoolnews h4{
    font-size: 30px;
    border-bottom: 1px solid white;
    padding: 8px;
}
#schoolnews p{
    margin-top: 10px;
    font-size: 20px;
}
#schoolnews img{
    border-radius: 25px;
}
#schoolnews{
    margin-top: 13px;
}
.alumni img{
    height: 130px;
    width: 130px;
}
.alumni{
    cursor: pointer;
}
.modal-content{
    margin-top: 100px;
}
.modal_img{
    display: inline-block;
}
p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}
section{
    display: block;
}