.line {
    height: 6px;
    background-color: #000;
    width: 90px;
    margin: 8px auto;
}

body {
    text-align: center;
    background-color: deeppink;
    color: black;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(yellow 0%, orange 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 25px;
}
input{
    background-color: gainsboro;
}
iframe{
    width:100%;
    padding: 50px;
    margin-left: auto;
    margin-right: 60px;
}
.my_nav_bar{
    position: sticky;
    z-index: 9999;
    top:0px;
}
span:hover{
    color: deeppink;
}
span{
    color: black;
}
#activities{
  background: linear-gradient(#00fbff 0%, blue 100%); 
}
#contact{
  background: linear-gradient(green 0%, lightgreen 100%); 
}
p{
    font-size: 20px;
}